html {
  background-color: blanchedalmond;
  color: black;
  text-align: center;
}

.search-btn {
  height: 40px;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 1%;
  background-color: darkgreen;
}

.animal-pic {
  height: 300px;
}

.animal-name {
  font-size: 30px;
  font-weight: bold;
  margin: 10px 0;
}

.animal-info {
  margin-bottom: 15px;
  padding: 2%;
  background-color: white;
}

.animal-container {
  margin-bottom: 15px;
  padding: 2%;
  margin: 20px 20%;
  background-color: white;
}

.section-title {
  font-weight: 900;
}

.section-data {
  font-weight: 500;
}